<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frank.mmp.system.dao.SystemDao">
	
	<sql id="systemUser_Query_Item">
		WHERE 1=1
		<if test="null != uId and '' != uId">
			AND u_id = #{uId}
		</if> 
		<if test="null != uName and '' != uName">
			AND u_name = #{uName}
		</if>
		<if test="null != uAccount and '' != uAccount">
			AND u_account = #{uAccount}
		</if>
		<if test="null != uPsw and '' != uPsw">
			AND u_psw = #{uPsw}
		</if>
		<if test="null != uAddTime and '' != uAddTime">
			AND u_addTime &gt;= #{uAddTime}
		</if>
	</sql>
	
	<resultMap type="com.frank.mmp.system.bean.UserBean" id="sys_user_resultMap">
		<result property="uId" column="u_id" javaType="int" jdbcType="INTEGER" /> <!--int(11)-->
		<result property="uName" column="u_name" javaType="string" jdbcType="VARCHAR" /> <!--varchar(255)-->
		<result property="uAccount" column="u_account" javaType="string" jdbcType="VARCHAR" /> <!--varchar(255)-->
		<result property="uPsw" column="u_psw" javaType="string" jdbcType="VARCHAR" /> <!--varchar(255)-->
		<result property="uAddTime" column="u_addTime" javaType="date" jdbcType="DATE" /> <!--datetime-->
	</resultMap>
	
	<resultMap type="com.frank.mmp.system.bean.MenuPackageBean" id="sys_menu_resultMap">
		<result property="menuId" column="menu_id" javaType="int" jdbcType="INTEGER" /> <!--int(11)-->
		<result property="menuName" column="menu_name" javaType="string" jdbcType="VARCHAR" /> <!--varchar(50)-->
		<result property="menuUrl" column="menu_url" javaType="string" jdbcType="VARCHAR" /> <!--varchar(500)-->
		<result property="menuStyle" column="menu_style" javaType="string" jdbcType="VARCHAR" /> <!--varchar(225)-->
		<result property="menuIco" column="menu_ico" javaType="string" jdbcType="VARCHAR" /> <!--varchar(20)-->
		<result property="menuParentId" column="menu_parentId" javaType="int" jdbcType="INTEGER" /> <!--int(11)-->
		<result property="menuType" column="menu_type" javaType="string" jdbcType="VARCHAR" /> <!--varchar(10)-->
		<result property="menuLoginCheck" column="menu_login_check" javaType="int" jdbcType="INTEGER" /> <!--int(11)-->
	</resultMap>
</mapper>