<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.frank.mmp.system.dao.SystemDao">
	
	<sql id="systemUser_Query_Item">
		WHERE 1=1
		<if test="null != uId and '' != uId">
			AND u_id = #{uId}
		</if> 
		<if test="null != uName and '' != uName">
			AND u_name = #{uName}
		</if>
		<if test="null != uAccount and '' != uAccount">
			AND u_account = #{uAccount}
		</if>
		<if test="null != uPsw and '' != uPsw">
			AND u_psw = #{uPsw}
		</if>
		<if test="null != uAddTime and '' != uAddTime">
			AND u_addTime &gt;= #{uAddTime}
		</if>
	</sql>
	
</mapper>